.jumbotron {
    color: white;
    background-color: #2F4F4F;
    text-align: center;
    font-weight: bold;
}

.card-header {
    color: white;
    background-color: #2F4F4F;
    font-weight: bold;
}



